<!doctype html>
{% load staticfiles %}

<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        {% block extra_meta_tags %}{% endblock extra_meta_tags %}

        <title>SlackDroid{% block site_title %}{% endblock site_title %}</title>

        {% block extra_head %}{% endblock extra_head %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <link rel="shortcut icon" href="/static/img/icon.ico">

        <link href="/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        {% block extra_css %}{% endblock extra_css %}

        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <header>
            {% block header %}
                <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
                    <div class="container topnav">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>-->
                            <img src="/static/img/logo01.gif" class="logo-gif"/>
                            <a class="navbar-brand topnav" href="../profile">SlackDroid</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            {% block navtab %}{% endblock navtab %}
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                </nav>
            {% endblock header %}
        </header>

        {% block content %}{% endblock content %}

        <footer>
            {% block footer %}{% endblock footer %}
        </footer>

        <script src="{% static 'js/custom.js' %}">
        </script>
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
